{% extends "layouts/section.jinja2" %}

{% block title %}{{ node.display_name }}{% endblock %}

{% macro version_class(delta) -%}
  {%- if delta == 0 -%}
    <span class="icon has-text-success"><i class="fas fa-check-square"></i></span>
  {%- elif delta == 1 -%}
    <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span>
  {%- elif delta == 3 -%}
    <span class="icon has-text-danger"><i class="fas fa-exclamation-triangle"></i></span>
  {%- else -%}
    <span class="icon has-text-warning"><i class="fas fa-exclamation-triangle"></i></span>
  {%- endif %}
{%- endmacro %}

{% block content %}
<div class="container">
  <h1 class="title">{{ node.display_name }}</h1>
  <div class="content">
    {{ node.description}}
  </div>
  <div class="columns">
    <div class="column">
      <div class="mb-2">
        <div class="heading">Location</div>
        <div>
          {% if node.latitude or node.longitude %}
            {{ node.latitude }}, {{ node.longitude }}
          {% else %}
            Unknown
          {% endif %}
          </div>
      </div>
      <div class="mb-2">
        <div class="heading">Grid Square</div>
        <div>{{ node.grid_square }}</div>
      </div>
      <div class="mb-2">
        <div class="heading">Last Seen</div>
        <div>{{ node.last_seen|local_tz }}</div>
      </div>
      <div class="mb-2">
        <a href="http://{{ node.name }}.local.mesh:8080" target="_blank" rel="noopener noreferrer">AREDN Page</a>
      </div>
      <div class="mb-2">
        <a href="{{ req.route_url("node-json", id=node.id) }}" target="_blank" rel="noopener noreferrer">Most Recent System Info</a>
      </div>
    </div>
    <div class="column">
      <div class="mb-2">
        <div class="heading">Status</div>
        <div>{{ node.status }}</div>
      </div>
      <div class="mb-2">
        <div class="heading">IP Address</div>
        <div>{{ node.wlan_ip }}</div>
      </div>
      <div class="mb-2">
        <div class="heading">Up Time</div>
        <div>{{ node.up_time }}</div>
      </div>
      <div class="mb-2">
        <div class="heading">Load Averages</div>
        <div>{{ node.load_averages }}</div>
      </div>
    </div>
    <div class="column">
      <div class="mb-2">
        <div class="heading">Model</div>
        <div>{{ node.model }}</div>
      </div>
      <div class="mb-2">
        <div class="heading">Board ID</div>
        <div>{{ node.board_id }}</div>
      </div>
      <div class="mb-2">
        <div class="heading">Firmware Manufacturer</div>
        <div>{{ node.firmware_manufacturer }}</div>
      </div>
      <div class="mb-2">
        <div class="heading">Firmware Version</div>
        <div>{{ node.firmware_version }} {{ version_class(firmware_status) }}</div>
      </div>
      <div class="mb-2">
        <div class="heading">API Version</div>
        <div>{{ node.api_version }} {{ version_class(api_status) }}</div>
      </div>
    </div>
    <div class="column">
      <div class="mb-2">
        <div class="heading">SSID</div>
        <div>{{ node.ssid }}</div>
      </div>
      <div class="mb-2">
        <div class="heading">Channel</div>
        <div>{{ node.channel }}</div>
      </div>
      <div class="mb-2">
        <div class="heading">Band</div>
        <div>{{ node.band }}</div>
      </div>
      <div class="mb-2">
        <div class="heading">Channel Bandwidth</div>
        <div>{{ node.channel_bandwidth }}</div>
      </div>
    </div>
  </div>

{% for graph in ("links", "load", "uptime") %}
  <div class="columns">
  {% for period in ("day", "week") %}
    <div class="column is-narrow">
    <a href="{{ req.route_path('node-graphs', id=node.id, name=graph) }}">
    <img src="{{ req.route_path('node-graph', id=node.id, name=graph, _query={"period": period}) }}"
         alt="node {{ graph }} graph ({{ period }})"
         width="497"
         loading="lazy"
    ></a>
    </div>
  {% endfor %}
  </div>
{% endfor %}

<h2 class="title is-spaced">Links</h2>

  {# Links is  #}
  {% for link_name, link_types in links|groupby("destination.display_name") %}
    <h3 class="subtitle">
      <a href="{{ req.route_url("node-details", id=link_types[0].destination_id) }}">{{ link_name }}</a>
    </h3>
    <div class="columns">
      <div class="column is-narrow-desktop">
        <div class="mb-2">
          <div class="heading">Distance</div>
          <div>{{ link_types[0].distance }}km</div>
        </div>
      </div>
      <div class="column is-narrow-desktop">
        <div class="mb-2">
          <div class="heading">Bearing</div>
          <div>{{ link_types[0].bearing }}</div>
        </div>
      </div>
    </div>
    {% for link in link_types %}
      <h4 class="is-5 block" id="{{ link.id.dump() }}">Type: {{ link.type }}</h4>
      <div class="columns">
        <div class="column is-narrow">
          <div class="mb-2">
            <div class="heading">Status</div>
            <div>{{ link.status }}</div>
          </div>
          <div class="mb-2">
            <div class="heading">Last Seen</div>
            <div>{{ link.last_seen|local_tz }}</div>
          </div>
        </div>
        <div class="column is-narrow">
          <div class="mb-2">
            <div class="heading">Link Quality</div>
            <div>{{ link.quality|unknown }}</div>
          </div>
          <div class="mb-2">
            <div class="heading">Neighbor Link Quality</div>
            <div>{{ link.neighbor_quality|unknown }}</div>
          </div>
        </div>
        <div class="column is-narrow">
          {% if link.type|lower == "radio" %}
            <div class="mb-2">
              <div class="heading">Signal/Noise Ratio</div>
              <div>{{ link.signal_noise_ratio|unknown(1) }}</div>
            </div>
          {% endif %}
          <div class="mb-2">
            <div class="heading">Route Cost</div>
            <div>{{ link.olsr_cost|unknown }}</div>
          </div>
        </div>
      </div>
      {% for graph in link_graphs[link.type] %}
        <div class="columns">
          {% for period in ("day", "week") %}
            <div class="column is-narrow">
              <a href="{{ req.route_path('link-graphs', source=link.source_id, destination=link.destination_id, type=link.type.name.lower(), name=graph)}}">
                <img src="{{ req.route_path('link-graph', source=link.source_id, destination=link.destination_id, type=link.type.name.lower(), name=graph, _query={"period": period}) }}"
                   alt="link {{ graph }} graph ({{ period }})"
                   loading="lazy">
              </a>
            </div>
          {% endfor %}
        </div>
      {% endfor %}

    {% endfor %}

  {% endfor %}
</div>

{% endblock %}
