{% extends "layouts/section.jinja2" %}

{% block head %}
  {# Stylesheet for Grid.js #}
  <link rel="stylesheet" href="{{ req.static_url('meshinfo:static/css/mermaid.min.css') }}">
{% endblock %}

{% block title %}Nodes{% endblock %}

{% block content %}
<div class="container is-fluid">
  <h1 class="title">Nodes</h1>
  <div class="has-text-right">
    <a href="{{ req.route_url("nodes", view="csv") }}">Export Data to CSV</a>
  </div>
  <div id="node-table" hx-boost="true">
    <div class="table-container">
    <table class="table is-striped is-narrow is-fullwidth">
      <thead>
        <tr>
          <th>Name</th>
          <th>IP Address</th>
          <th>Status</th>
          <th>SSID</th>
          <th>Band</th>
          <th>Links</th>
          <th>Tunnels</th>
          <th>Firmware</th>
          <th>Uptime</th>
          <th>Last Seen</th>
        </tr>
      </thead>
      <tbody>
      {% for node in nodes %}
        <tr>
          <td nowrap="nowrap"><a href="{{ req.route_url('node-details', id=node.id) }}">{{ node.display_name }}</a></td>
          <td>{{ node.ip_address }}</td>
          <td>{{ node.status }}</td>
          <td nowrap="nowrap">{{ node.ssid }}</td>
          <td nowrap="nowrap">{{ node.band }}</td>
          <td>{{ node.link_count }}</td>
          <td>{{ node.active_tunnel_count }}</td>
          <td nowrap="nowrap">{{ node.firmware_version }}</td>
          <td nowrap="nowrap">{{ node.up_time }}</td>
          <td nowrap="nowrap">{{ node.last_seen|local_tz }}</td>
        </tr>
      {% endfor %}
      </tbody>
    <tfoot></tfoot>
    </table>
    </div>
    <nav class="pagination" role="navigation">
      <a class="pagination-previous">Previous</a>
      <a class="pagination-next">Next page</a>
      <ul class="pagination-list">
      {% for page in pages %}
        <li>
          <a class="pagination-link {{ page.classes | join(' ') }}" href="{{ page.url }}">{{ page.number }}</a>
        </li>
      {% endfor %}
      </ul>
    </nav>
  </div>
</div>
{% endblock %}
