<!DOCTYPE html>
<html lang="{{ req.locale_name }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="aredn wireless mesh network map">
  <link rel="shortcut icon" type="image/png" sizes="16x16" href="{{ req.static_url('meshinfo:static/mesh-network-16x16.png') }}">
  <link rel="shortcut icon" type="image/png" sizes="32x32" href="{{ req.static_url('meshinfo:static/mesh-network-32x32.png') }}">
  <title>
    {% block title %}Mesh Info{% endblock %}
  </title>
  <link rel="stylesheet" href="{{ req.static_url('meshinfo:static/css/bulma.min.css') }}">
  <link rel="stylesheet" href="{{ req.static_url('meshinfo:static/css/fontawesome.min.css') }}">
  <link rel="stylesheet" href="{{ req.static_url('meshinfo:static/css/solid.min.css') }}">
  {% block head %}{% endblock %}
  <script src="{{ req.static_url('meshinfo:static/js/alpine.min.js') }}" defer></script>
</head>

<body>
<div id="app">

{% include "components/navbar.jinja2" %}

{% block root %}{% endblock %}

</div>

{% block javascript %}{% endblock %}

</body>
</html>
