{% extends "includes/section.jinja2" %}

{% block content %}
<div class="container">
  <h1 class="title">500 <span class="subtitle">Server Error</span></h1>
  <div class="notification is-danger is-light">
    <p>{{ message }}</p>
    <p>
      Please contact the site admin and let them know you saw this at
      {{ timestamp|in_tz("server") }} so they can review the logs.
    </p>
  </div>
</div>
{% endblock %}
