{% extends "layout.jinja2" %}

{% set active_page = "about" %}

{% block content %}
<div class="container">
  <h1 class="title">About</h1>
  <p>
    Mesh Info was inspired by KG6WXC's MeshMap,
    but redesigned for tracking historical data.
  </p>
  <p>
    The project is hosted on <a href="https://github.com/smsearcy/mesh-info">GitHub</a>.
    Please open an issue there if you run into problems and/or have ideas for improvement.
  </p>
</div>
{% endblock %}
