{% extends "includes/section.jinja2" %}

{% block content %}
<div class="container">
  <h1 class="title is-2">Network Info</h1>
  <div class="level">
    <div class="level-item has-text-centered">
      <div>
        <div class="heading">Active &amp; Recent Node Count</div>
        <div class="title">{{ "{:,d}".format(node_count) }}</div>
      </div>
    </div>
  </div>

  <h2 class="title is-3">Collector Statistics</h2>
{% if last_run is not none %}
  <div class="columns">
    <div class="column is-narrow">
      <div class="mb-2">
        <div class="heading">Last Ran</div>
        <div>{{ last_run.started_at|local_tz }}</div>
      </div>
      <div class="mb-2">
        <div class="heading">Polling Time</div>
        <div>{{ last_run.polling_duration|duration }}</div>
      </div>
      <div class="mb-2">
        <div class="heading">Total Run Time</div>
        <div>{{ last_run.total_duration|duration }}</div>
      </div>
    </div>
    <div class="column is-narrow">
      <div class="mb-2">
        <div class="heading">Node Count</div>
        <div>{{ last_run.node_count }}</div>
      </div>
      <div class="mb-2">
        <div class="heading">Link Count</div>
        <div>{{ last_run.link_count }}</div>
      </div>
      <div class="mb-2">
        <div class="heading">Error Count</div>
        <div>{{ last_run.error_count }}</div>
      </div>
    </div>
  </div>
{% else %}
  <div class="notification is-warning">
    The collector has not ran or finished successfully yet.
  </div>
{% endif %}

  <div class="columns">
  {% for period in ("day", "week") %}
    <div class="column is-narrow">
      <a href="{{ req.route_path('network-graphs', name='info') }}">
      <img src="{{ req.route_path('network-graph', name="info", _query={"period": period}) }}"
           alt="network info graph ({{ period }})"
           loading="lazy">
      </a>
    </div>
  {% endfor %}
  </div>
  <div class="columns">
  {% for period in ("day", "week") %}
    <div class="column is-narrow">
      <a href="{{ req.route_path('network-graphs', name='poller') }}">
      <img src="{{ req.route_path('network-graph', name="poller", _query={"period": period}) }}"
           alt="poller stats graph ({{ period }})"
           loading="lazy">
      </a>
    </div>
  {% endfor %}
  </div>

  <h2 class="title is-3">Network Statistics</h2>
  <div class="columns">
    <div class="column is-narrow">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">Firmware Versions</p>
        </header>
        <div class="card-content">
          <div class="content">
            <table class="table">
              <tbody>
              {% for version, count in firmware_stats|dictsort(by='value', reverse=True) %}
                <tr>
                  <th>{{ version }}:</th>
                  <td>{{ "{:,d}".format(count) }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-narrow">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">Bands</p>
        </header>
        <div class="card-content">
          <div class="content">
            <table class="table">
              <tbody>
              {% for band, count in band_stats|dictsort(by='value', reverse=True) %}
                <tr>
                  <th>{{ band }}:</th>
                  <td>{{ "{:,d}".format(count) }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2 class="title is-3">Recent Node Errors</h2>
{% if last_run %}
  <div class="columns">
  {% for error_type, errors in node_errors|dictsort %}
    <div class="column is-narrow">
      <div class="subtitle">{{ error_type }}</div>
      <div class="block">Count: {{ errors|length }}</div>
      <table class="table is-striped">
        <thead>
          <tr>
            <th>Name (DNS)</th>
            <th>IP Address</th>
          </tr>
        </thead>
        <tbody>
        {% for error in errors|sort(attribute='dns_name') %}
          <tr>
            <td>{{ error.dns_name }}</td>
            <td>
              <a href="{{ req.route_url('network-errors', timestamp=last_run.started_at.timestamp(), _query={'highlight': error.ip_address}, _anchor=error.ip_address) }}">
                {{ error.ip_address }}
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="column">
      No node errors in most recent network poll.
    </div>
  {% endfor %}
  </div>
  <div class="content">
    <a href="{{ req.route_url('network-errors', timestamp=last_run.started_at.timestamp()) }}">View all</a>
  </div>
{% endif %}
</div>
{% endblock %}
