<h6 class="title is-6">
<a href="{{ req.route_url("node-details", id=link.source_id, _anchor=link.id.dump()) }}">
  {{ link.source.name }} - {{ link.destination.name }}
</a>
</h6>
<div class="columns">
  <div class="column">
    <div class="mb-2">
      <div class="heading">Type</div>
      <div>{{ link.type }}</div>
    </div>
    <div class="mb-2">
      <div class="heading">Status</div>
      <div>{{ link.status }}</div>
    </div>
    <div class="mb-2">
      <div class="heading">Last Seen</div>
      <div>{{ link.last_seen|local_tz }}</div>
    </div>
  </div>
  <div class="column">
    <div class="mb-2">
      <div class="heading">Distance</div>
      <div>{{ link.distance }}km</div>
    </div>
    <div class="mb-2">
      <div class="heading">Bearing</div>
      <div>{{ link.bearing }}</div>
    </div>
    <div class="mb-2">
      <div class="heading">Cost</div>
      <div>{{ link.olsr_cost }}</div>
    </div>
  </div>
  <div class="column">
    {% if link.type|lower == "radio" %}
      <div class="mb-2">
        <div class="heading"><abbr title="Signal/Noise Ratio">SNR</abbr></div>
        <div>{{ link.signal_noise_ratio }}</div>
      </div>
    {% endif %}
    <div class="mb-2">
      <div class="heading"><abbr title="Link Quality">LQ</abbr></div>
      <div>{% if link.quality is none %}Unknown{% else %}{{ link.quality }}{% endif %}</div>
    </div>
    <div class="mb-2">
      <div class="heading"><abbr title="Neighbor Link Quality">NLQ</abbr></div>
      <div>{% if link.neighbor_quality is none %}Unknown{% else %}{{ link.neighbor_quality }}{% endif %}</div>
    </div>
  </div>
</div>
