{% extends "includes/layout.jinja2" %}

{% block head %}
<link rel="stylesheet" href="{{ req.static_url("meshinfo:static/leaflet/leaflet.css") }}">
<link rel="stylesheet" href="{{ req.static_url("meshinfo:static/css/map.css") }}">
{% endblock %}

{% block root %}
  <div class="container is-fluid m-0 p-0">
    <div id="map" style="height: 92vh;"></div>
  </div>
{% endblock %}

{% block javascript %}
<script src="{{ req.static_url("meshinfo:static/leaflet/leaflet.js") }}"></script>
<script src="{{ req.static_url("meshinfo:static/js/leaflet.polylineoffset.js") }}"></script>
<script type="text/javascript">
  let map = L.map('map', {
    center: [{{ latitude }}, {{ longitude }}],
    zoom: {{ zoom }}
  });

  L.tileLayer('{{ tile_url }}', {
    attribution: '{{ tile_attribution|replace("'", '"')|safe }}',
    maxZoom: {{ max_zoom }},
  }).addTo(map);

  let node_icons = {
  {% for band, icon_url in node_icons.items() -%}
    '{{ band.value }}': L.icon({iconUrl: '{{ icon_url }}', iconSize: [20, 20], iconAnchor: [10, 10], popupAnchor: [0, -10]}),
  {% endfor -%}
  }

  function nodeFeature(feature, layer) {
    layer.bindTooltip('<b>' + feature.properties.name + '</b>');
    layer.bindPopup((layer) => {
      var el = document.createElement('div');
      fetch(feature.properties.previewUrl)
        .then(response => response.text())
        .then(data => el.innerHTML = data);
      return el;
    }, {minWidth: 350, maxWidth: 500});
  }

  function linkFeature(feature, layer) {
    layer.bindPopup((layer) => {
      var el = document.createElement('div');
      fetch(feature.properties.previewUrl)
        .then(response => response.text())
        .then(data => el.innerHTML = data);
      return el;
    }, {minWidth: 375, maxWidth: 600});
  }

  // TODO: different layers per band (like MeshMap)
  let nodeLayer = L.geoJSON([], {
      onEachFeature: nodeFeature,
      pointToLayer: function (feature, latlng) {
        return L.marker(latlng, {
          icon: node_icons[feature.properties.band] ?? node_icons['Unknown']
        });
      }
    }).addTo(map);

  // TODO: different layers per link type (like MeshMap)
  let linkLayer = L.geoJSON([], {
    onEachFeature: linkFeature,
    style: function(feature) {
      return {
        color: feature.properties.color,
        offset: feature.properties.offset,
        weight: feature.properties.weight,
        opacity: feature.properties.opacity,
      }
    }
  }).addTo(map);

  async function getGeoJson() {
    let mapData = await fetch('{{ req.route_url("map-data") }}').then(response => response.json()).then(data => data);
    nodeLayer.addData(mapData.nodes);
    linkLayer.addData(mapData.links);
  }

  getGeoJson();

  let scale = L.control.scale();
  scale.addTo(map);

  let legend = L.control({position: 'topright'});
  legend.onAdd = function (map) {
    let div = L.DomUtil.create('div', 'box p-1 m-1');
    let legendHTML = '<div id="legend" class="has-text-weight-bold">' +
      '<div class="is-clearfix mb-3 has-text-centered" id="rf-link-gradient">' +
      '<div class="is-pulled-left ml-4 has-text-white">1</div>' +
      'RF Link Cost' +
      '<div class="is-pulled-right mr-4 has-text-white">10</div>' +
      '</div>' +
      '<div class="columns">' +
      '<div class="column">';
    {% for band, icon_url in node_icons.items() -%}
      legendHTML += '<div>' +
        '<figure class="image pt-1 is-16x16 is-inline-block">' +
        '<img src="{{ icon_url }}" width="16px" height="16px">' +
        '</figure> {{ band }}</div>';
    {% endfor -%}
    legendHTML += '</div>' +
      '<div class="column has-text-centered">' +
      '<div class="block mb-1 link-legend" style="background: #3388ff;">DTD Link</div>' +
      '<div class="block mb-1 link-legend" style="background: #707070;">Tunnel</div>' +
      '<div class="block mb-1 link-legend" style="background: #8b0000;">Unknown</div>' +
      '</div>' +
      '</div>';
    div.innerHTML = legendHTML;
    return div;
  };
  legend.addTo(map);

</script>
{% endblock %}
