{% extends "layout.jinja2" %}

{% block title %}{{ graph_name }} : Network{% endblock %}

{% block content %}
<div class="container">
  <h1 class="title">Network : {{ graph_name }}</h1>
  <div class="columns">
  {% for period in ("day", "week") %}
    <div class="column is-narrow">
    <img src="{{ req.route_path('network-graph', name=graph, _query={"period": period}) }}"
         alt="network {{ graph }} graph ({{ period }})"
         width="497"
         loading="lazy"
    >
    </div>
  {% endfor %}
  </div>

  <div class="columns">
    {% for period in ("month", "year") %}
      <div class="column is-narrow">
        <img src="{{ req.route_path('network-graph', name=graph, _query={"period": period}) }}"
             alt="network {{ graph }} graph ({{ period }})"
             width="497"
             loading="lazy"
        >
      </div>
    {% endfor %}
  </div>

</div>
{% endblock %}
