{% extends "includes/section.jinja2" %}

{% block title %}{{ graph_name }} : {{ node.display_name }}{% endblock %}

{% block content %}
<div class="container">
  <h1 class="title">{{ node.display_name }} : {{ graph_name }}</h1>
  {# TODO: add bread crumbs back to node #}
  <div class="columns">
  {% for period in ("day", "week") %}
    <div class="column is-narrow">
    <img src="{{ req.route_path('node-graph', id=node.id, name=graph, _query={"period": period}) }}"
         alt="node {{ graph }} graph ({{ period }})"
         width="497"
         loading="lazy"
    >
    </div>
  {% endfor %}
  </div>

  <div class="columns">
    {% for period in ("month", "year") %}
      <div class="column is-narrow">
        <img src="{{ req.route_path('node-graph', id=node.id, name=graph, _query={"period": period}) }}"
             alt="node {{ graph }} graph ({{ period }})"
             width="497"
             loading="lazy"
        >
      </div>
    {% endfor %}
  </div>

</div>
{% endblock %}
