#legend {
    width: 12rem;
}

div.link-legend {
    color: white;
    border-radius: 0.2rem;
}

#rf-link-gradient {
    background: linear-gradient(to right, hsl(120, 100%, 50%), hsl(60, 100%, 50%), hsl(0, 100%, 50%));
}
