<div class="box p-1 m-1 is-hidden-mobile" x-data="{ show: true }">
  <div class="p-1 has-text-weight-bold" style="width: 12rem;" :class="{ 'is-hidden': !show }">
    <div class="has-text-centered">RF Link Cost</div>
    <div class="columns has-text-centered has-text-white m-0 mb-2">
      {% for label, color in link_colors.items() %}
      <div class="column p-1" style="background-color: {{ color }};">{{ label }}</div>
      {% endfor %}
    </div>
    <div class="columns">
      <div class="column">
        {% for band, icon_url in node_icons.items() -%}
          <div>
            <figure class="image pt-1 is-16x16 is-inline-block"><img src="{{ icon_url }}" width="16px" height="16px"></figure>&nbsp;{{ band }}
          </div>
        {% endfor -%}
      </div>
      <div class="column has-text-centered has-text-white">
        <div class="block mb-1" style="background: #3388ff; border-radius: 0.2rem;">DTD Link</div>
        <div class="block mb-1" style="background: #707070; border-radius: 0.2rem;">Tunnel</div>
        <div class="block mb-1" style="background: #000000; border-radius: 0.2rem;">Infinite</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div class="block is-clickable has-text-weight-normal has-text-dark" @click="show = ! show">Hide Legend</div>
      </div>
    </div>
  </div>
  <div class="is-clickable" @click="show = ! show" :class="{ 'is-hidden': show }">Show Legend</div>
</div>
