{% extends "layout.jinja2" %}

{% set active_page = "home" %}

{% block content %}
<div class="container">
  <h1 class="title">Network Info</h1>
  <div class="level">
    <div class="level-item has-text-centered">
      <div>
        <div class="heading">Active &amp; Recent Node Count</div>
        <div class="title">{{ "{:,d}".format(node_count) }}</div>
      </div>
    </div>
  </div>

  <h2 class="subtitle">Collector Statistics</h2>
{% if last_run is not none %}
  <div class="columns">
    <div class="column">
      <div class="mb-2">
        <div class="heading">Last Ran</div>
        <div>{{ last_run.started_at|local_tz }}</div>
      </div>
      <div class="mb-2">
        <div class="heading">Polling Time</div>
        <div>{{ last_run.polling_duration|duration }}</div>
      </div>
      <div class="mb-2">
        <div class="heading">Total Run Time</div>
        <div>{{ last_run.total_duration|duration }}</div>
      </div>
    </div>
    <div class="column">
      <div class="mb-2">
        <div class="heading">Node Count</div>
        <div>{{ last_run.node_count }}</div>
      </div>
      <div class="mb-2">
        <div class="heading">Link Count</div>
        <div>{{ last_run.link_count }}</div>
      </div>
      <div class="mb-2">
        <div class="heading">Error Count</div>
        <div>{{ last_run.error_count }}</div>
      </div>
    </div>
  </div>
{% else %}
  <div class="notification is-warning">
    The collector has not ran or finished successfully yet.
  </div>
{% endif %}

  <div class="columns">
  {% for period in ("day", "week") %}
    <div class="column is-narrow">
      <a href="{{ req.route_path('network-graphs', name='info') }}">
      <img src="{{ req.route_path('network-graph', name="info", _query={"period": period}) }}"
           alt="network info graph ({{ period }})"
           loading="lazy">
      </a>
    </div>
  {% endfor %}
  </div>
  <div class="columns">
  {% for period in ("day", "week") %}
    <div class="column is-narrow">
      <a href="{{ req.route_path('network-graphs', name='poller') }}">
      <img src="{{ req.route_path('network-graph', name="poller", _query={"period": period}) }}"
           alt="poller stats graph ({{ period }})"
           loading="lazy">
      </a>
    </div>
  {% endfor %}
  </div>

</div>
{% endblock %}
