<!DOCTYPE html>
<html lang="{{ req.locale_name }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="aredn wireless mesh network map">
  <link rel="shortcut icon" type="image/png" sizes="16x16" href="{{ req.static_url('pymeshmap:static/mesh-network-16x16.png') }}">
  <link rel="shortcut icon" type="image/png" sizes="32x32" href="{{ req.static_url('pymeshmap:static/mesh-network-32x32.png') }}">
  <title>
    {% block title %}pyMeshMap{% endblock %}
  </title>
  <link rel="stylesheet" href="{{ req.static_url('pymeshmap:static/css/bulma.min.css') }}">
  <link rel="stylesheet" href="{{ req.static_url('pymeshmap:static/css/fontawesome.min.css') }}">
  <link rel="stylesheet" href="{{ req.static_url('pymeshmap:static/css/solid.min.css') }}">
  {% block head %}{% endblock %}
</head>

<body>
<div id="app">

<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ req.route_path('home') }}">
      <img src="{{ req.static_url('pymeshmap:static/mesh-network-32x32.png') }}" width="32" height="32">
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMeshMap">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarMeshMap" class="navbar-menu">
    <div class="navbar-start">
      {% set active_page = active_page|default("home") -%}
      <a class="navbar-item {% if active_page == 'home' %}is-active{% endif %}"
         href="{{ req.route_path('home') }}">Overview</a>
      <a class="navbar-item {% if 'node' in active_page %}is-active{% endif %}"
         href="{{ req.route_path('nodes', view='table') }}">Nodes</a>
      <a class="navbar-item is-disabled">
        Map
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light is-invisible">Log in</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="section">
  {% block content %}{% endblock %}
</section>

</div>

<script src="{{ req.static_url('pymeshmap:static/js/meshmap.js') }}"></script>
{% block javascript %}{% endblock %}

</body>
</html>
